<span id="topspan"/>
<div id="bigbanner">
    <div id="homebanner">
        <div class="container">
            <h1>Teaching the next generation to design and code</h1>
            <h2>Mountain View and Campbell, CA</h2>
            <div class="popbox">
                <p class="center">Get event announcements and ticket information, or volunteer to help</p>
                <div class="arrow"></div>
            </div>
            <form id="emailgo" class="form-inline">
                <a class="btn btn-square btn-lg btn-success supbutton">Join now</a>
            </form>
        </div>
    </div>
    
    <div class="content">
        <div class="container bigo">
            <p>CoderDojo Silicon Valley is a Bay Area instance of <a href="http://www.coderdojo.com" target="_blank"><%= image_tag("DodoLogo.png", :alt => "CoderDojo") %></a>, a global collaboration of <em>free</em> and open programing clubs run by enthusiastic volunteers.</p>
            <p>At CoderDojos around the world, young people ages 7-17, along with parents and mentors, learn how to code, develop websites, make apps, program games and more!</p>
        </div>
    </div>
</div>
<span id="calspan"/>

<div class="content">
    <div class="container">
        <h1 class="center">When are your sessions?</h1>
        <div class="row">
            <div class="col-sm-8">
                <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;height=480&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=coderdojo.com_i2hvg0bvac6p25fnot2t5mpkss%40group.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " id="cal" frameborder="0" scrolling="no"></iframe>
            </div>
            <div class="col-sm-4">
                <h2>Time</h2>
                <p>Varies. See calendar.</p>
                <h2>Location</h2>
                <p>Mountain View<span class="text-muted">: MV</span></p>
                <p>South Bay/Campbell<span class="text-muted">: SB</span></p>
                <h2>What to bring</h2>
                <ul>
                    <li><p>A ticket</p></li>
                    <li><p>A laptop</p></li>
                    <li><p>A parent! (Very important). If you are 13 or under, your parent must stay with you during the session</p></li>
                </ul>
                <p><a href="#" class="supbutton">Join now</a> to get event announcements and ticket information.</p>
            </div>
        </div>
    </div>
</div>

<div class="bigreen">
    <span class="arrow"></span>
    <div class="container">
        <h4 class="center">Last year, we held 40 sessions, and welcomed over 1200 participants.</a></h4>
</div>
</div>

<span id="givspan"/>
<div class="content">
    <div class="container">
        <h1 class="center">Three ways to help. Many ways to contribute.</h1>
        <div class="row">
            <div class="col-sm-4">
                <div class="box">
                    <h4 class="center">CAN YOU CODE?</h4>
                    <!--<p>Become a mentor.</p>-->
                    <p>We need instructors, mentors, and technical leads...</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <h4 class="center">HELP AT EVENTS?</h4>
                    <p>We need event planners, registration help, tweeters, bloggers, photographers...</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <h4 class="center">LEAD TEAMS?</h4>
                    <p>We need fundraising, outreach, press, marketing...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bigreen">
        <span class="arrow"></span>
        <div class="container">
            <h2 class="center">Volunteer to help! &nbsp;<a class="btn btn-square btn-lg btn-success supbutton">Join now</a></h2>
        </div>
    </div>
</div>

<span id="spro"/>
<div class="content">
    <div class="container">
        <h1 class="center">What's happened at past sessions?</h1>
        <table class="table">
            <tr>
                <td id="pro1"></td>
                <td id="pro2"></td>
            </tr>
            <tr>
                <td id="pro3"></td>
                <td id="pro4"></td>
            </tr>
        </table>
        <p><%= link_to "See more >>>", past_projects_url %></a></p>
</div>
</div>
<div class="bigreen">
    <span class="arrow"></span>
    <div class="container">
        <h4 class="center hidden-xs"><a href="http://code.org"><img src="http://code.org/images/logo.png"/></a> Check out the <a href="http://code.org/learn"><b>Hour of Code!</b></a></h4>
        <h4 class="center visible-xs"><a href="http://code.org"><img src="http://code.org/images/logo.png"/></a></h4>
        <h4 class="center visible-xs" style="font-size:24pt;">Check out the <a href="http://code.org/learn"><b>Hour of Code!</b></a></h4>
    </div>
</div>

<span id="phspan"/>
<div class="content">
    <div class="container">
        <h1 class="center">Here's a look inside.</h1>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                <li data-target="#carousel-example-generic" data-slide-to="6"></li>
            </ol>
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <%= image_tag("topgallery/c1.jpg", :alt => "Error loading") %>
                </div>
                <div class="item">
                    <%= image_tag("topgallery/c2.jpg", :alt => "Error loading") %>
                </div>
                <div class="item">
                    <%= image_tag("topgallery/c3.jpg", :alt => "Error loading") %>
                </div>
                <div class="item">
                    <%= image_tag("topgallery/c4.jpg", :alt => "Error loading") %>
                </div>
                <div class="item">
                    <%= image_tag("topgallery/c5.jpg", :alt => "Error loading") %>
                </div>
                <div class="item">
                    <%= image_tag("topgallery/c6.png", :alt => "Error loading") %>
                </div>
                <div class="item">
                    <%= image_tag("topgallery/c7.jpg", :alt => "Error loading") %>
                </div>
            </div>
            
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>  
    </div>
    <div class="bigreen">
        <div class="arrow"></div>
        <div class="container" style="margin: 0 auto; max-width: 950px;">
            <!--<img style="max-width: 700px;" src="/assets/ninja.png" alt="Ninja Quotes"/>-->
            <div class="row">
                <div class="col-sm-6">
                    <h4>"This is the best time I had all day. Thanks!"</h4>
                </div>
                <div class="col-sm-6">
                    <h4>"I like getting together with other coders."</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<span id="ssspan"/>
<div class="content">
    <div class="container">
        <h1 class="center">Who supports your venues?</h1>
        <div class="row" id="sponsorRow">
            <div class="col-sm-6">
                <div class="sponsorcontainer"><a href="http://microsoft.com"><%= image_tag "sponsors/microsoft.png", :alt => "Microsoft" %></a></div>
            </div>
            <div class="col-sm-6">
                <div class="sponsorcontainer"><a href="http://on-site.com"><%= image_tag "sponsors/onsite.gif", :alt => "On-Site.com" %></a></div>
            </div>
            <!--<div class="col-sm-4">
<div class="sponsorcontainer"><a href="http://adobe.com"><%= image_tag "sponsors/adobes.png", :alt => "Adobe" %></a></div>
</div>-->
        </div>
        <h2 class="center">Other Donors</h2>
        <div class="center">
            <table id="odonors" class="table">
                <tr>
                    <td><a href="http://www.breakoutmentors.com"><%= image_tag "sponsors/breakout.png", :alt => "Breakout Mentors" %></a></td>
                    <td><a href="http://www.4D.com"><%= image_tag "sponsors/4D.gif", :alt => "4D" %></a></td>
                </tr>
                <tr>
                    <td><a href="http://www.symantec.com"><%= image_tag "sponsors/syman.png", :alt => "Symantec" %></a></td>
                    <td><a href="http://www.sonomachicken.com/"><%= image_tag "sponsors/sonoma-chicken.png", :alt => "Sonoma Chicken Coop" %></a><br>Almaden Valley</td>
                </tr>
            </table> 
        </div>
    </div>
</div>

<div class="bigreen">
    <div class="arrow"></div>
    <div class="container">
        <p class="center">If you are intrested in supporting what we do by providing space or food donations, <a href="mailto:siliconvalley@coderdojo.com">please get in touch.</a></p>
    </div>
</div>

<div class="content alter" id="tfooter">
    <div class="container">
        <h2 class="center">Interested? &nbsp;<a class="btn btn-square btn-lg btn-success supbutton">Join now</a></h2>
    </div>
</div>


<div class="modal fade modal-square" id="signupForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        
        <div class="modal-content">
            <form action="http://coderdojosv.us6.list-manage.com/subscribe/post?u=3563ea3f0a8ae78b09f1fea36&amp;id=27c567c77e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Sign up to our mailing list</h4>
                </div>
                <div class="modal-body">
                    <p>Thank you for your interest in CoderDojo Silicon Valley.</p>
                    <p>By joining our mailing list, you will receive event announcements and ticket information.</p>
                    <p>You can also let us know if you are interested in becoming a technical mentor, event volunteer, or team leader.</p>
                    <p>Welcome to our club!</p>
                    <!-- Begin MailChimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address (Parent's email if you are under 14)  <span class="asterisk">*</span>
                            </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
                            </label>
                            <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
                            </label>
                            <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-MMERGE3">Add anything you'd like us to know about you </label>
                            <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-MMERGE4">Company or School </label>
                            <input type="text" value="" name="MMERGE4" class="" id="mce-MMERGE4">
                        </div>
                        <div class="mc-field-group input-group">
                            <strong>I am interested in attending or helping at: </strong>
                            <ul><li><input type="checkbox" value="1" name="group[12481][1]" id="mce-group[12481]-12481-0"><label for="mce-group[12481]-12481-0">Mountain View</label></li>
                                <li><input type="checkbox" value="2" name="group[12481][2]" id="mce-group[12481]-12481-1"><label for="mce-group[12481]-12481-1">South Bay/Campbell</label></li>
                            </ul>
                        </div>
                        <div class="mc-field-group input-group">
                            <strong>I am interested in becoming a/an: </strong>
                            <ul><li><input type="checkbox" value="4" name="group[12485][4]" id="mce-group[12485]-12485-0"><label for="mce-group[12485]-12485-0">Mentor - Roam the room and answer technical questions at sessions</label></li>
                                <li><input type="checkbox" value="8" name="group[12485][8]" id="mce-group[12485]-12485-1"><label for="mce-group[12485]-12485-1">Instructor - Lead a project-based instruction</label></li>
                                <li><input type="checkbox" value="4096" name="group[12485][4096]" id="mce-group[12485]-12485-2"><label for="mce-group[12485]-12485-2">Event Volunteer - Assist with planning, logistics, registration, photos</label></li>
                                <li><input type="checkbox" value="65536" name="group[12485][65536]" id="mce-group[12485]-12485-3"><label for="mce-group[12485]-12485-3">Team Leader - Contribute to the vision and goals for the organization</label></li>
                                <li><input type="checkbox" value="2147483648" name="group[12485][2147483648]" id="mce-group[12485]-12485-4"><label for="mce-group[12485]-12485-4">Participant - Bringing my children to events</label></li>
                            </ul>
                        </div>
                        <div class="mc-field-group input-group">
                            <strong>I am comfortable mentoring in the following areas: </strong>
                            <ul><li><input type="checkbox" value="16" name="group[12489][16]" id="mce-group[12489]-12489-0"><label for="mce-group[12489]-12489-0">Scratch/Tynker</label></li>
                                <li><input type="checkbox" value="32" name="group[12489][32]" id="mce-group[12489]-12489-1"><label for="mce-group[12489]-12489-1">Python</label></li>
                                <li><input type="checkbox" value="64" name="group[12489][64]" id="mce-group[12489]-12489-2"><label for="mce-group[12489]-12489-2">Ruby</label></li>
                                <li><input type="checkbox" value="128" name="group[12489][128]" id="mce-group[12489]-12489-3"><label for="mce-group[12489]-12489-3">Web Development</label></li>
                                <li><input type="checkbox" value="256" name="group[12489][256]" id="mce-group[12489]-12489-4"><label for="mce-group[12489]-12489-4">C++</label></li>
                                <li><input type="checkbox" value="512" name="group[12489][512]" id="mce-group[12489]-12489-5"><label for="mce-group[12489]-12489-5">Mobile Apps</label></li>
                                <li><input type="checkbox" value="1024" name="group[12489][1024]" id="mce-group[12489]-12489-6"><label for="mce-group[12489]-12489-6">Unity</label></li>
                                <li><input type="checkbox" value="2048" name="group[12489][2048]" id="mce-group[12489]-12489-7"><label for="mce-group[12489]-12489-7">Java</label></li>
                                <li><input type="checkbox" value="8192" name="group[12489][8192]" id="mce-group[12489]-12489-8"><label for="mce-group[12489]-12489-8">Minecraft Modding</label></li>
                                <li><input type="checkbox" value="16384" name="group[12489][16384]" id="mce-group[12489]-12489-9"><label for="mce-group[12489]-12489-9">Robotics</label></li>
                                <li><input type="checkbox" value="32768" name="group[12489][32768]" id="mce-group[12489]-12489-10"><label for="mce-group[12489]-12489-10">Microcontrollers - Arduino/RasPi</label></li>
                                <li><input type="checkbox" value="131072" name="group[12489][131072]" id="mce-group[12489]-12489-11"><label for="mce-group[12489]-12489-11">Other</label></li>
                            </ul>
                        </div>
                        <div class="mc-field-group input-group">
                            <strong>I am a/an: </strong>
                            <ul><li><input type="checkbox" value="262144" name="group[12517][262144]" id="mce-group[12517]-12517-0"><label for="mce-group[12517]-12517-0">Professional Programmer or Computer Scientist</label></li>
                                <li><input type="checkbox" value="524288" name="group[12517][524288]" id="mce-group[12517]-12517-1"><label for="mce-group[12517]-12517-1">Other Business Professional</label></li>
                                <li><input type="checkbox" value="1048576" name="group[12517][1048576]" id="mce-group[12517]-12517-2"><label for="mce-group[12517]-12517-2">University Student</label></li>
                                <li><input type="checkbox" value="2097152" name="group[12517][2097152]" id="mce-group[12517]-12517-3"><label for="mce-group[12517]-12517-3">High School Student</label></li>
                                <li><input type="checkbox" value="4194304" name="group[12517][4194304]" id="mce-group[12517]-12517-4"><label for="mce-group[12517]-12517-4">Youth, under 14 years old</label></li>
                                <li><input type="checkbox" value="8388608" name="group[12517][8388608]" id="mce-group[12517]-12517-5"><label for="mce-group[12517]-12517-5">Parent</label></li>
                                <li><input type="checkbox" value="16777216" name="group[12517][16777216]" id="mce-group[12517]-12517-6"><label for="mce-group[12517]-12517-6">Computer Science Teacher</label></li>
                                <li><input type="checkbox" value="4294967296" name="group[12517][4294967296]" id="mce-group[12517]-12517-7"><label for="mce-group[12517]-12517-7">General Ed Teacher</label></li>
                                <li><input type="checkbox" value="8589934592" name="group[12517][8589934592]" id="mce-group[12517]-12517-8"><label for="mce-group[12517]-12517-8">Other</label></li>
                            </ul>
                        </div>
                        <div class="mc-field-group input-group">
                            <strong>Do you have membership at: </strong>
                            <ul><li><input type="checkbox" value="33554432" name="group[12525][33554432]" id="mce-group[12525]-12525-0"><label for="mce-group[12525]-12525-0">Hacker Dojo Mountain View</label></li>
                                <li><input type="checkbox" value="67108864" name="group[12525][67108864]" id="mce-group[12525]-12525-1"><label for="mce-group[12525]-12525-1">Tech Shop San Jose</label></li>
                                <li><input type="checkbox" value="134217728" name="group[12525][134217728]" id="mce-group[12525]-12525-2"><label for="mce-group[12525]-12525-2">Other Hacker Space</label></li>
                            </ul>
                        </div>
                        <div class="mc-field-group input-group">
                            <strong>Would your company have space for dojo meetings? </strong>
                            <ul><li><input type="radio" value="268435456" name="group[12529]" id="mce-group[12529]-12529-0"><label for="mce-group[12529]-12529-0">Yes</label></li>
                                <li><input type="radio" value="536870912" name="group[12529]" id="mce-group[12529]-12529-1"><label for="mce-group[12529]-12529-1">No</label></li>
                                <li><input type="radio" value="1073741824" name="group[12529]" id="mce-group[12529]-12529-2"><label for="mce-group[12529]-12529-2">Maybe, I'm willing to check</label></li>
                            </ul>
                        </div>
                        <div class="mc-field-group input-group">
                            <strong>How did you first hear about us? </strong>
                            <ul><li><input type="checkbox" value="17179869184" name="group[13937][17179869184]" id="mce-group[13937]-13937-0"><label for="mce-group[13937]-13937-0">Code.org website</label></li>
                                <li><input type="checkbox" value="34359738368" name="group[13937][34359738368]" id="mce-group[13937]-13937-1"><label for="mce-group[13937]-13937-1">CoderDojo website</label></li>
                                <li><input type="checkbox" value="68719476736" name="group[13937][68719476736]" id="mce-group[13937]-13937-2"><label for="mce-group[13937]-13937-2">Internal company email</label></li>
                                <li><input type="checkbox" value="137438953472" name="group[13937][137438953472]" id="mce-group[13937]-13937-3"><label for="mce-group[13937]-13937-3">A friend told me</label></li>
                                <li><input type="checkbox" value="274877906944" name="group[13937][274877906944]" id="mce-group[13937]-13937-4"><label for="mce-group[13937]-13937-4">Contacted by a CoderDojo organizer</label></li>
                                <li><input type="checkbox" value="549755813888" name="group[13937][549755813888]" id="mce-group[13937]-13937-5"><label for="mce-group[13937]-13937-5">At an event</label></li>
                                <li><input type="checkbox" value="1099511627776" name="group[13937][1099511627776]" id="mce-group[13937]-13937-6"><label for="mce-group[13937]-13937-6">Newspaper</label></li>
                                <li><input type="checkbox" value="2199023255552" name="group[13937][2199023255552]" id="mce-group[13937]-13937-7"><label for="mce-group[13937]-13937-7">Flyer</label></li>
                                <li><input type="checkbox" value="4398046511104" name="group[13937][4398046511104]" id="mce-group[13937]-13937-8"><label for="mce-group[13937]-13937-8">Other</label></li>
                            </ul>
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_3563ea3f0a8ae78b09f1fea36_27c567c77e" value=""></div>
                    </div>
                    <script type="text/javascript">
                        var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';fnames[4]='MMERGE4';ftypes[4]='text';fnames[5]='MMERGE5';ftypes[5]='text';
                        try {
                            var jqueryLoaded=jQuery;
                            jqueryLoaded=true;
                        } catch(err) {
                            var jqueryLoaded=false;
                        }
                        var head= document.getElementsByTagName('head')[0];
                        if (!jqueryLoaded) {
                            var script = document.createElement('script');
                            script.type = 'text/javascript';
                            script.src = '//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
                            head.appendChild(script);
                            if (script.readyState && script.onload!==null){
                                script.onreadystatechange= function () {
                                    if (this.readyState == 'complete') mce_preload_check();
                                }    
                            }
                        }
                        
                        var err_style = '';
                        try{
                            err_style = mc_custom_error_style;
                        } catch(e){
                            err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
                        }
                        var head= document.getElementsByTagName('head')[0];
                        var style= document.createElement('style');
                        style.type= 'text/css';
                        if (style.styleSheet) {
                            style.styleSheet.cssText = err_style;
                        } else {
                            style.appendChild(document.createTextNode(err_style));
                        }
                        head.appendChild(style);
                        setTimeout('mce_preload_check();', 250);
                        
                        var mce_preload_checks = 0;
                        function mce_preload_check(){
                            if (mce_preload_checks>40) return;
                            mce_preload_checks++;
                            try {
                                var jqueryLoaded=jQuery;
                            } catch(err) {
                                setTimeout('mce_preload_check();', 250);
                                return;
                            }
                            var script = document.createElement('script');
                            script.type = 'text/javascript';
                            script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
                            head.appendChild(script);
                            try {
                                var validatorLoaded=jQuery("#fake-form").validate({});
                            } catch(err) {
                                setTimeout('mce_preload_check();', 250);
                                return;
                            }
                            mce_init_form();
                        }
                        function mce_init_form(){
                            jQuery(document).ready( function($) {
                                var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
                                var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
                                $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
                                options = { url: 'http://coderdojosv.us6.list-manage.com/subscribe/post-json?u=3563ea3f0a8ae78b09f1fea36&id=27c567c77e&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                                           beforeSubmit: function(){
                                               $('#mce_tmp_error_msg').remove();
                                               $('.datefield','#mc_embed_signup').each(
                                                   function(){
                                                       var txt = 'filled';
                                                       var fields = new Array();
                                                       var i = 0;
                                                       $(':text', this).each(
                                                           function(){
                                                               fields[i] = this;
                                                               i++;
                                                           });
                                                       $(':hidden', this).each(
                                                           function(){
                                                               var bday = false;
                                                               if (fields.length == 2){
                                                                   bday = true;
                                                                   fields[2] = {'value':1970};//trick birthdays into having years
                                                               }
                                                               if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                                                   this.value = '';
                                                               } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                                                   this.value = '';
                                                               } else {
                                                                   if (/\[day\]/.test(fields[0].name)){
                                                                       this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;									        
                                                                   } else {
                                                                       this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                                                                   }
                                                               }
                                                           });
                                                   });
                                               $('.phonefield-us','#mc_embed_signup').each(
                                                   function(){
                                                       var fields = new Array();
                                                       var i = 0;
                                                       $(':text', this).each(
                                                           function(){
                                                               fields[i] = this;
                                                               i++;
                                                           });
                                                       $(':hidden', this).each(
                                                           function(){
                                                               if ( fields[0].value.length != 3 || fields[1].value.length!=3 || fields[2].value.length!=4 ){
                                                                   this.value = '';
                                                               } else {
                                                                   this.value = 'filled';
                                                               }
                                                           });
                                                   });
                                               return mce_validator.form();
                                           }, 
                                           success: mce_success_cb
                                          };
                                $('#mc-embedded-subscribe-form').ajaxForm(options);
                                
                                
                            });
                        }
                        function mce_success_cb(resp){
                            $('#mce-success-response').hide();
                            $('#mce-error-response').hide();
                            if (resp.result=="success"){
                                $('#mce-'+resp.result+'-response').show();
                                $('#mce-'+resp.result+'-response').html(resp.msg);
                                $('#mc-embedded-subscribe-form').each(function(){
                                    this.reset();
                                });
                            } else {
                                var index = -1;
                                var msg;
                                try {
                                    var parts = resp.msg.split(' - ',2);
                                    if (parts[1]==undefined){
                                        msg = resp.msg;
                                    } else {
                                        i = parseInt(parts[0]);
                                        if (i.toString() == parts[0]){
                                            index = parts[0];
                                            msg = parts[1];
                                        } else {
                                            index = -1;
                                            msg = resp.msg;
                                        }
                                    }
                                } catch(e){
                                    index = -1;
                                    msg = resp.msg;
                                }
                                try{
                                    if (index== -1){
                                        $('#mce-'+resp.result+'-response').show();
                                        $('#mce-'+resp.result+'-response').html(msg);            
                                    } else {
                                        err_id = 'mce_tmp_error_msg';
                                        html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';
                                        
                                        var input_id = '#mc_embed_signup';
                                        var f = $(input_id);
                                        if (ftypes[index]=='address'){
                                            input_id = '#mce-'+fnames[index]+'-addr1';
                                            f = $(input_id).parent().parent().get(0);
                                        } else if (ftypes[index]=='date'){
                                            input_id = '#mce-'+fnames[index]+'-month';
                                            f = $(input_id).parent().parent().get(0);
                                        } else {
                                            input_id = '#mce-'+fnames[index];
                                            f = $().parent(input_id).get(0);
                                        }
                                        if (f){
                                            $(f).append(html);
                                            $(input_id).focus();
                                        } else {
                                            $('#mce-'+resp.result+'-response').show();
                                            $('#mce-'+resp.result+'-response').html(msg);
                                        }
                                    }
                                } catch(e){
                                    $('#mce-'+resp.result+'-response').show();
                                    $('#mce-'+resp.result+'-response').html(msg);
                                }
                            }
                        }
                        
                    </script>
                    <!--End mc_embed_signup-->
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Sign Up" name="subscribe" class="btn btn-success btn-square">
                    <button type="button" class="btn btn-square btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(function() {
        $.get("https://api.github.com/search/repositories", {"q":"user:CoderDojoSV fork:true", "sort":"updated"}, function(d) {
            var newD = {"items":[]};
            var nye = 0;
            for (var i = 0; i<d.items.length; i++) {
                if (d.items[i].homepage == "Past Project") {
                    newD.items[nye] = d.items[i];
                    nye += 1;
                }
            }
            d = newD;
            var date = d.items[0].pushed_at.substring(5, 10) + "-" + d.items[0].pushed_at.substring(2, 4);
            $("#pro1").append("<h2><a href='" + d.items[0].html_url + "'>" + d.items[0].name + "</a></h2>");
            $("#pro1").append("<p class='text-muted'>" + d.items[0].description + " <span class='badge badge-square'>" + date + "</span></p>");
            date = d.items[1].pushed_at.substring(5, 10) + "-" + d.items[1].pushed_at.substring(2, 4);
            $("#pro2").append("<h2><a href='" + d.items[1].html_url + "'>" + d.items[1].name + "</a></h2>");
            $("#pro2").append("<p class='text-muted'>" + d.items[1].description + " <span class='badge badge-square'>" + date + "</span></p>");
            date = d.items[2].pushed_at.substring(5, 10) + "-" + d.items[2].pushed_at.substring(2, 4);
            $("#pro3").append("<h2><a href='" + d.items[2].html_url + "'>" + d.items[2].name + "</a></h2>");
            $("#pro3").append("<p class='text-muted'>" + d.items[2].description + " <span class='badge badge-square'>" + date + "</span></p>");
            date = d.items[3].pushed_at.substring(5, 10) + "-" + d.items[3].pushed_at.substring(2, 4);
            $("#pro4").append("<h2><a href='" + d.items[3].html_url + "'>" + d.items[3].name + "</a></h2>");
            $("#pro4").append("<p class='text-muted'>" + d.items[3].description + " <span class='badge badge-square'>" + date + "</span></p>");
            //date = d.items[4].pushed_at.substring(5, 10) + "-" + d.items[4].pushed_at.substring(2, 4);
            //$("#pro5").append("<h2><a href='" + d.items[4].html_url + "'>" + d.items[4].name + "</a></h2>");
            //$("#pro5").append("<p class='text-muted'>" + d.items[4].description + " <span class='badge badge-square'>" + date + "</span></p>");
        });
        $.get("/a.json", function(d) {
            for (var i = 1; i < d.events.length; i++) {
                $("#stm .panel-body").append("<p>" + d.events[i].event.title + "</p>");
                var date = new Date(d.events[i].event.start_date);
                var date2 = new Date(d.events[i].event.end_date);
                $("#stm .panel-body").append("<p class='text-muted'>" + d.events[i].event.venue.city + " on the " + date.getDate() + "st</p> <span class='badge badge-square'>" + date.getHours() + ":" + date.getMinutes() + " to " + date2.getHours() + ":" + date2.getMinutes() + "</span></p>");
            }
        });
        $('.supbutton').click(function(e) {
            e.preventDefault();
            if ($(window).width() < 980) {
                location = "/join";
            } else {
                $('#signupForm').modal();
            }
        });
        $(function(){
            $('input[type=radio]').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
                increaseArea: '20%' // optional
            }); 
            $('input[type=checkbox]').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
                increaseArea: '20%' // optional
            }); 
        });
    });
</script>