<span id="topspan"/>
<div id="bigbanner">
    <div id="homebanner">
        <div class="container">
            <%= link_to image_tag("play43.svg", :alt => "Play Video"), "#video", "class" => "playvideo" %>
            <h1>Teaching the next generation to design and code</h1>
            <h2>in Mountain View, Palo Alto, San Jose, and Campbell</h2>
            <div class="popbox">
                <p class="center">Get event announcements, request a seat, or volunteer to help</p>
                <div class="arrow"></div>
            </div>
            <form id="emailgo" class="form-inline">
                <a class="btn btn-square btn-lg btn-success supbutton">Join now</a>
            </form>
        </div>
    </div>
    
    <div class="content">
        <div class="container bigo">
            <p>CoderDojo Silicon Valley is a Bay Area instance of <a href="http://www.coderdojo.com" target="_blank"><%= image_tag("DodoLogo.png", :alt => "CoderDojo", :title => "CoderDojo") %></a>, a global collaboration of <em>free</em> and open programming workshops run by enthusiastic volunteers.</p>
            <p>At CoderDojos around the world, young people ages 7-17, along with parents and mentors, learn how to code, develop websites, make apps, program games and more!</p>
        </div>
    </div>
</div>
<span id="calspan"/>

<div class="content">
    <div class="container">
        <h1 class="center">When are your workshops?</h1>
        <div class="row">
            <div class="col-sm-8">
                <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;height=480&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=techbubble.net_98ssv91d78h5hl8v2nvqckb774%40group.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FLos_Angeles" style="border-width:0" id="cal" frameborder="0" scrolling="no"></iframe>
            </div>
            <div class="col-sm-4">
                <h2>Locations</h2>
                <p>Mountain View<span class="text-muted">: MV</span></p>
                <p>Palo Alto<span class="text-muted">: PA</span></p>
                <p>San Jose<span class="text-muted">: SJ</span></p>
                <p>Campbell<span class="text-muted">: CB</span></p>
                <h2>What to bring</h2>
                <ul>
                    <li><p>A laptop</p></li>
                    <li><p>A parent! All minors, 17 or under, must have a parent/guardian stay for the duration of the workshop</p></li>
                </ul>
                <p><a href="#" class="supbutton">Join now</a> to get event info and registration details.</p>
            </div>
        </div>
    </div>
</div>

<div class="bigreen">
    <span class="arrow"></span>
    <div class="container">
        <h4 class="center">1500 participants have spent 10,000+ hours learning to code!</a></h4>
</div>
</div>

<span id="givspan"/>
<div class="content">
    <div class="container">
        <h1 class="center">Three ways to help. Many ways to contribute.</h1>
        <div class="row">
            <div class="col-sm-4">
                <div class="box">
                    <h4 class="center">CAN YOU CODE?</h4>
                    <!--<p>Become a mentor.</p>-->
                    <p>We need instructors, mentors, and technical leads...</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <h4 class="center">HELP AT EVENTS?</h4>
                    <p>We need event planners, registration help, bloggers, photographers...</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <h4 class="center">LEAD TEAMS?</h4>
                    <p>We need fundraising, outreach, press, marketing...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bigreen">
        <span class="arrow"></span>
        <div class="container">
            <h2 class="center">Volunteer to help! &nbsp;<a class="btn btn-square btn-lg btn-success supbutton">Join now</a></h2>
        </div>
    </div>
</div>
<!--
<span id="spro"/>
<div class="content">
    <div class="container">
        <h1 class="center">What's happened at past sessions?</h1>
        <table class="table">
            <tr>
                <td id="pro1"></td>
                <td id="pro2"></td>
            </tr>
            <tr>
                <td id="pro3"></td>
                <td id="pro4"></td>
            </tr>
        </table>
        <p><%= link_to "See more >>>", past_projects_url %></a></p>
</div>
-->
</div>
<div class="bigreen">
    <span class="arrow"></span>
    <div class="container">
        <h4 class="center hidden-xs"><a href="http://code.org"><img src="http://code.org/images/logo.png"/></a> Check out the <a href="http://code.org/learn"><b>Hour of Code!</b></a></h4>
        <h4 class="center visible-xs"><a href="http://code.org"><img src="http://code.org/images/logo.png"/></a></h4>
        <h4 class="center visible-xs" style="font-size:24pt;">Check out the <a href="http://code.org/learn"><b>Hour of Code!</b></a></h4>
    </div>
</div>

<span id="phspan"/>
<div class="content">
    <div class="container">
        <h1 class="center">Here's a look inside.</h1>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                <li data-target="#carousel-example-generic" data-slide-to="9"></li>
                <li data-target="#carousel-example-generic" data-slide-to="10"></li>
            </ol>
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <%= image_tag("topgallery/cn1.jpg", :alt => "Error loading") %>
                </div>
                <div class="item">
                    <%= image_tag("topgallery/cn2.jpg", :alt => "Error loading") %>
                </div>
                <div class="item">
                    <%= image_tag("topgallery/cn3.jpg", :alt => "Error loading") %>
                </div>
                <div class="item">
                    <%= image_tag("topgallery/cn4.jpg", :alt => "Error loading") %>
                </div>
                <div class="item">
                    <%= image_tag("topgallery/cn6.jpg", :alt => "Error loading") %>
                </div>
                <div class="item">
                    <%= image_tag("topgallery/cn7.jpg", :alt => "Error loading") %>
                </div>
                <div class="item">
                    <%= image_tag("topgallery/c1.jpg", :alt => "Error loading") %>
                </div>
                <div class="item">
                    <%= image_tag("topgallery/c3.jpg", :alt => "Error loading") %>
                </div>
                <div class="item">
                    <%= image_tag("topgallery/c4.jpg", :alt => "Error loading") %>
                </div>
                <div class="item">
                    <%= image_tag("topgallery/c5.jpg", :alt => "Error loading") %>
                </div>
                <div class="item">
                    <%= image_tag("topgallery/c7.jpg", :alt => "Error loading") %>
                </div>
            </div>
            
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>  
    </div>
    <div class="bigreen">
        <div class="arrow"></div>
        <div class="container" style="margin: 0 auto; max-width: 950px;">
            <!--<img style="max-width: 700px;" src="/assets/ninja.png" alt="Ninja Quotes"/>-->
            <div class="row">
                <div class="col-sm-6">
                    <h4>"This is the best time I had all day. Thanks!"</h4>
                </div>
                <div class="col-sm-6">
                    <h4>"I like getting together with other coders."</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<span id="ssspan"/>
<div class="content">
    <div class="container">
        <h1 class="center">Who supports your venues?</h1>
        <div class="row" id="sponsorRow">
            <div class="col-sm-6">
                <div class="sponsorcontainer"><a href="http://microsoft.com"><%= image_tag "sponsors/microsoft.png", :alt => "Microsoft" %></a></div>
            </div>
            <div class="col-sm-6">
                <div class="sponsorcontainer"><a href="http://on-site.com"><%= image_tag "sponsors/onsite.gif", :alt => "On-Site.com" %></a></div>
            </div>
            <!--<div class="col-sm-4">
<div class="sponsorcontainer"><a href="http://adobe.com"><%= image_tag "sponsors/adobes.png", :alt => "Adobe" %></a></div>
</div>-->
        </div>
        <h2 class="center">Other Donors</h2>
        <div class="center">
            <table id="odonors" class="table">
                <tr>
                    <td><a href="http://www.breakoutmentors.com"><%= image_tag "sponsors/breakout.png", :alt => "Breakout Mentors" %></a></td>
                    <td><a href="http://www.4D.com"><%= image_tag "sponsors/4D.gif", :alt => "4D" %></a></td>
                </tr>
                <tr>
                    <td><a href="http://www.symantec.com"><%= image_tag "sponsors/syman.png", :alt => "Symantec" %></a></td>
                    <td><a href="http://www.sonomachicken.com/"><%= image_tag "sponsors/sonoma-chicken.png", :alt => "Sonoma Chicken Coop" %></a><br>Almaden Valley</td>
                </tr>
            </table> 
        </div>
    </div>
</div>

<div class="bigreen">
    <div class="arrow"></div>
    <div class="container">
        <p class="center">If you are interested in supporting what we do by providing space or food donations, <a href="mailto:siliconvalley@coderdojo.com">please get in touch.</a></p>
    </div>
</div>

<div class="content alter" id="tfooter">
    <div class="container">
        <h2 class="center">Interested? &nbsp;<a class="btn btn-square btn-lg btn-success supbutton">Join now</a></h2>
    </div>
</div>

<script>
    $(function() {
        $.get("https://api.github.com/search/repositories", {"q":"user:CoderDojoSV fork:true", "sort":"updated"}, function(d) {
            var newD = {"items":[]};
            var nye = 0;
            for (var i = 0; i<d.items.length; i++) {
                if (d.items[i].homepage == "Past Project") {
                    newD.items[nye] = d.items[i];
                    nye += 1;
                }
            }
            d = newD;
            var date = d.items[0].created_at.substring(5, 10) + "-" + d.items[0].created_at.substring(2, 4);
            $("#pro1").append("<h2><a href='" + d.items[0].html_url + "'>" + d.items[0].name + "</a></h2>");
            $("#pro1").append("<p class='text-muted'>" + d.items[0].description + " <span class='badge badge-square'>" + date + "</span></p>");
            date = d.items[1].created_at.substring(5, 10) + "-" + d.items[1].created_at.substring(2, 4);
            $("#pro2").append("<h2><a href='" + d.items[1].html_url + "'>" + d.items[1].name + "</a></h2>");
            $("#pro2").append("<p class='text-muted'>" + d.items[1].description + " <span class='badge badge-square'>" + date + "</span></p>");
            date = d.items[2].created_at.substring(5, 10) + "-" + d.items[2].created_at.substring(2, 4);
            $("#pro3").append("<h2><a href='" + d.items[2].html_url + "'>" + d.items[2].name + "</a></h2>");
            $("#pro3").append("<p class='text-muted'>" + d.items[2].description + " <span class='badge badge-square'>" + date + "</span></p>");
            date = d.items[3].created_at.substring(5, 10) + "-" + d.items[3].created_at.substring(2, 4);
            $("#pro4").append("<h2><a href='" + d.items[3].html_url + "'>" + d.items[3].name + "</a></h2>");
            $("#pro4").append("<p class='text-muted'>" + d.items[3].description + " <span class='badge badge-square'>" + date + "</span></p>");
            //date = d.items[4].created_at.substring(5, 10) + "-" + d.items[4].created_at.substring(2, 4);
            //$("#pro5").append("<h2><a href='" + d.items[4].html_url + "'>" + d.items[4].name + "</a></h2>");
            //$("#pro5").append("<p class='text-muted'>" + d.items[4].description + " <span class='badge badge-square'>" + date + "</span></p>");
        });
        $.get("/a.json", function(d) {
            for (var i = 1; i < d.events.length; i++) {
                $("#stm .panel-body").append("<p>" + d.events[i].event.title + "</p>");
                var date = new Date(d.events[i].event.start_date);
                var date2 = new Date(d.events[i].event.end_date);
                $("#stm .panel-body").append("<p class='text-muted'>" + d.events[i].event.venue.city + " on the " + date.getDate() + "st</p> <span class='badge badge-square'>" + date.getHours() + ":" + date.getMinutes() + " to " + date2.getHours() + ":" + date2.getMinutes() + "</span></p>");
            }
        });
        $('.playvideo').magnificPopup({
            type:'inline',
            midClick: true
        });
        $('.supbutton').click(function(e) {
            e.preventDefault();
            location = "/join";
        });
        $(function(){
            $('input[type=radio]').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
                increaseArea: '20%' // optional
            }); 
            $('input[type=checkbox]').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
                increaseArea: '20%' // optional
            });
            $('.playvideo').click(function() {
                if( /Android|webOS|iPhone|iPad|iPod|Windows Phone|BlackBerry/i.test(navigator.userAgent) ) {
                    $("body").html("<video controls style='width: 100%; height: 100%;' src='https://dl.dropbox.com/s/cnwu2jsp7mkcd6y/CDSVMovie.mp4'><p>Sorry, your device can't play this video.</p><small>H.264-compatible browser needed</video></video><script>setInterval(function(){var winHeight = $(window).height();$('video').css({'height': winHeight, 'width': '100%'});}, 400);$('video').get(0).play();window.onpageshow = function(evt) {if (evt.persisted) {document.body.style.display = 'none';location.reload();}};<\/script>");
                } else {
                    history.replaceState({}, "CoderDojo Silicon Valley", "/");
                    $('#video video').get(0).play();
                }
            });
        });
    });
    window.onpageshow = function(evt) {
        // If persisted then it is in the page cache, force a reload of the page.
        if (evt.persisted) {
            document.body.style.display = "none";
            location.reload();
        }
    };
</script>
<div id="video" class="white-popup mfp-hide">
    <video src="https://dl.dropbox.com/s/cnwu2jsp7mkcd6y/CDSVMovie.mp4" controls></video>
</div>
