<br/>
<div class="content">
  <div class="container">
    <h1 class="center">Sponsors</h1>
    <div class="row" id="sponsorRow">
      <div class="col-sm-4">
        <div class="sponsorcontainer"><a href="http://microsoft.com"><%= image_tag "sponsors/microsoft.png", :alt => "Microsoft" %></a></div>
      </div>
      <div class="col-sm-4">
        <div class="sponsorcontainer"><a href="http://on-site.com"><%= image_tag "sponsors/onsite.gif", :alt => "On-Site.com" %></a></div>
      </div>
      <div class="col-sm-4">
        <div class="sponsorcontainer"><a href="http://adobe.com"><%= image_tag "sponsors/adobes.png", :alt => "Adobe" %></a></div>
      </div>
    </div>
  </div>
</div>
<div class="content alter">
  <div class="container">
    <h1 class="center">Other Donors</h1>
    <div class="center">
      <table id="odonors">
        <tr>
          <td><%= image_tag "sponsors/breakout.png", :alt => "Breakout Mentors" %></td>
          <td><%= image_tag "sponsors/4D.gif", :alt => "4D" %></td>
          <td><%= image_tag "sponsors/syman.png", :alt => "Symantec" %></td>
        </tr>
      </table> 
    </div>
  </div>
</div>